.popup__container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 430px;
  max-width: calc(100% - 40px);
  background: #fff;
  padding: 34px 36px 36px;
  color: #000;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .popup__container {
    padding: 25px 20px;
  }
}

